<ion-header>
  <ion-navbar>
    <ion-title>轮播与导航左右滑动切换</ion-title>
  </ion-navbar>
  <ion-toolbar class="ng-tabList">
    <div class="tab-list">
      <ul #tabBox>
        <li (click)="cutTabs(i)" [ngClass]="{'active':tabIndex==i}" *ngFor="let item of tabList;let i = index">{{item.name}}</li>
      </ul>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-slides #slides (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let item of [0,0,0,0,0,0,0,0,0,0]">
      <ion-list>
        <ion-item *ngFor="let item of list">
          <ion-avatar item-start>
            <loading-images [pic]="item.pic"></loading-images>
          </ion-avatar>
          {{item.name}}
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="infiniteState">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
